@media only screen and (min-width: 768px) and (max-width: 991px) {
	.section {
		padding: 50px 0px;
	}
	.section-title {
		margin-bottom: 50px;
		padding: 0px 109px;
	}
	.section-title h2 {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.header .shopping-list h4 a {
		font-weight: 500;
		font-size: 13px;
	}
	.header .shopping-item .total span {
		font-size: 12px;
		font-weight: 500;
	}
	.header .shopping-item .total .total-amount {
		font-size: 13px;
		font-weight: 500;
	}
	.header .shopping-item .bottom .btn {
		padding: 8px 20px;
	}
	.navbar-nav {
		display: inline-block;
	}
	.header.shop .nav li {
		display: block;
		margin-right: 2px;
	}
	/* .header.shop .nav li a {
		font-size: 14px;
		padding: 12px 4px;
	} */
	.header .nav li a i {
		font-size: 8px;
	}
	.header.shop .nav .dropdown li {
		display: block;
	}
	.hero-slider {
		height: 475px;
	}
	.most-popular .single-product {
		margin: 20px 15px 0 15px;
	}
	.shop-blog .shop-single-blog {
		margin: auto;
	}
	.shop-services .single-service {
		padding: 12px 0 12px 65px;
	}
	.shop-newsletter .newsletter-inner input {
		width: 380px !important;
	}
}

/* Mobile Screen */

@media only screen and (max-width: 767px) {
	.hero-slider .single-slider {
		background-position: 78% 40px;
	}
	#info-header .sob-header .col-md-3 {
		border-right: 0;
		border-bottom: 1px solid #e9e9e9;
	}
	.section {
		padding: 50px 0px;
	}
	.section-title {
		margin-bottom: 30px;
		padding: 0px 20px;
	}
	.section-title h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	/* .header .header-inner {
		display: none
	} */
	.most-popular .single-product {
		margin: 20px 15px 0 15px;
	}
	.shop-blog .shop-single-blog {
		/* margin-bottom: 30px; */
		margin: auto;
	}
	.shop-newsletter .newsletter-inner input {
		width: 330px !important;
		height: 42px;
		padding: 0 20px;
		border-radius: 30px;
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}
	.shop-newsletter .newsletter-inner .btn {
		height: 42px;
		padding: 10px 15px;
		width: 330px;
		border-radius: 30px;
		left: 0;
		display: block;
	}
	.single-product {
		margin-top: 30px;
	}
	#info-header .sob-header {
		margin-top: -45%;
	}
}

/* Mobile Screen */

@media only screen and (max-width: 450px) {
	.section {
		padding: 50px 0px;
	}
	.section-title {
		margin-bottom: 30px;
		padding: 0px 20px;
	}
	.section-title h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.header .header-inner {
		display: none
	}
	.hero-slider {
		height: 475px;
	}
	.most-popular .single-product {
		margin: 20px 15px 0 15px;
	}
	.shop-blog .shop-single-blog {
		width: 100%;
		margin: auto;
		/* margin-bottom: 30px; */
	}
	.shop-newsletter .newsletter-inner input {
		width: 100% !important;
		height: 42px;
		padding: 0 12px 0 15px;
		border-radius: 30px;
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}
	.shop-newsletter .newsletter-inner .btn {
		height: 42px;
		padding: 10px 15px;
		width: 100%;
		border-radius: 30px;
		left: 0;
		display: block;
	}
	#info-header .sob-header {
		margin-top: -67%;
	}
}

@media (max-width:1199px) {
	.header.shop .nav li a {
		padding: 10px 4px;
	}
	#total-count {
		top: 5px;
		right: 45px;
	}
	.nav-bar .module-group .module {
		display: block;
		float: none;
		width: 100%;
	}
	.nav-bar, .nav-bar .module-group, .nav-bar .module, .nav-bar .module:not( .site-title-container) {
		height: auto;
	}
	.module.widget-handle {
		border-left: none;
		line-height: 40px;
		min-height: 40px;
	}
	.nav-bar .module {
		padding: 0 16px;
	}
	.toggle-search .function {
		display: block;
	}
	.widget-handle .function {
		width: 100%;
		max-width: 300px;
		position: relative;
		opacity: 1;
		transform: translate3d(0, 0px, 0);
		-webkit-transform: translate3d(0, 0px, 0);
		-moz-transform: translate3d(0, 0px, 0);
		visibility: visible;
		margin-top: -625px !important;
		display: none;
		box-shadow: none!important;
	}
	.header .widget-handle .function {
		width: 260px;
		right: -255px;
		height: 63px;
	}
	.header input[type=text], .header input[type=search], .header input[type=email], .header input[type=tel] {
		padding-left: 7px;
	}
	.header .nav li .dropdown {
		margin: 0 0 0 100px !important;
		width: auto !important;
		margin-right: 0 !important;
		top: 25px
	}
	.navbar-expand-xl>.container, .navbar-expand-xl>.container-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
}